@mixin query($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  } @else if $breakpoint == bg-big {
    @media only screen and (max-width: 50em) {
      @content;
    }
  } @else if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  } @else if $breakpoint == bg-large {
    @media only screen and (max-width: 62.5em) {
      @content;
    }
  } @else if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  } @else if $breakpoint == big-desktop {
    @media only screen and (min-width: 125em) {
      @content;
    }
  } @else {
    @error "Invalid breakpoint";
  }
}
