*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  @include query(tab-land) {
    font-size: 50%;
  }
}
body {
  font-family: $font-primary;
  color: $color-gray--dark-2;
  font-weight: 300;
  line-height: 1.6;
}
